{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .itemClass {
            text-decoration: none;
            color: #222222;
        }
        .itemClass:hover {
            text-decoration: none;
            color: #222222;
        }
    </style>
    <div class="example-wrapper">
        <div class="row">
            <div class="col">
                <h1 >{{ title }}</h1>
            </div>
            <div class="col col-lg-2 w-auto">
                <!-- Кнопка-триггер модального окна -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addService">
                    Добавить
                </button>
            </div>
        </div>

        <!-- Начало Модальное окно Добвления Услуги -->
        <div class="modal fade" id="addService" tabindex="-1" aria-labelledby="addServiceLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    {{ form_start(subscriptionForm) }}
                    <div class="modal-header">
                        <h5 class="modal-title" id="addServiceLabel">Подписка на услугу</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_errors(subscriptionForm) }}
                        {{ form_row(subscriptionForm.service) }}
                        {{ form_row(subscriptionForm.quantity) }}
                    </div>
                    <div class="modal-footer">
                        {{ form_row(subscriptionForm.submit) }}

                    </div>
                    {{ form_end(subscriptionForm) }}
                </div>
            </div>
        </div>
        <!--Конец Модальное окно Добвления Услуги -->

        <hr>

        <div class="row">
            {% for item in items %}
                {% if item.subscription == true %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h4>{{ item.name }}</h4>
                            <p class="card-text">{{ item.unit }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5>{{ item.price }} ₽</h5>
                            </div>
                            <button type="button" value="{{ item.id }}" class="btn btn-unsubscribe btn-danger" data-bs-toggle="modal" data-bs-target="#removeService">
                                Отписаться
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Начало Модальное окно Отписки -->
        <div class="modal fade" id="removeService" tabindex="-1" aria-labelledby="removeServiceLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="removeServiceLabel">Отписка от услуги</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(unsubscriptionForm) }}
                        {{ form_errors(unsubscriptionForm) }}
                        <h4>Вы действительно хотите отписаться от услуги?</h4>
                    </div>
                    <div class="modal-footer">
                        {{ form_row(unsubscriptionForm.submit) }}
                        {{ form_end(unsubscriptionForm) }}
{#                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>#}
{#                        <button type="button" class="btn btn-primary">Сохранить изменения</button>#}
                    </div>
                </div>
            </div>
        </div>
        <!--Конец Модальное окно Отписки -->

        <hr>
        <h4>Итого: {{ totalCost }} ₽ / месяц</h4>
    </div>
{% endblock %}
{% block script %}
<script>
    $('#removeService').on('show.bs.modal', function(e) {
        // Берём название кнопки, по которой вызывали модалку
        const unSubscriptionServiceId = $(e.relatedTarget).attr("value");
        console.log(unSubscriptionServiceId);
        $('#un_subscription_serviceId').val(unSubscriptionServiceId);
        // И вставляем его в саму модалку
        //$(e.currentTarget).find('.modal-title').val(btnName);
    });

</script>
{% endblock %}
