{% extends 'base.html.twig' %}


{% block body %}
    <style>
        .content{
            width: 50%;
        }
    </style>
    <div class="container">
        <!-- Строка с кнопками-->
        <div class="row">
            <div class="col">
                <h1 >{{ title }}</h1>
            </div>
            <div class="col col-lg-2 w-auto">
                <!-- Кнопка-триггер модального окна -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#topUpBalance">
                    Пополнить баланс
                </button>
            </div>
            <div class="col col-lg-2 w-auto">
                <form action="/transactions" method="POST">
                    <button name="settlementDay" type="submit" value="1" class="btn btn-danger">
                        Расчетный день
                    </button>
                </form>
            </div>
        </div>
        <!-- Начало Модальное окно Пополнить баланс -->
        <div class="modal fade" id="topUpBalance" tabindex="-1" aria-labelledby="topUpBalance" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    {{ form_start(topUpBalanceForm) }}
                    <div class="modal-header">
                        <h5 class="modal-title" id="addServiceLabel">Пополнение баланса</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_errors(topUpBalanceForm) }}
                        {{ form_row(topUpBalanceForm.value) }}
                    </div>
                    <div class="modal-footer">
                        {{ form_row(topUpBalanceForm.submit) }}

                    </div>
                    {{ form_end(topUpBalanceForm) }}
                </div>
            </div>
        </div>
        <!--Конец Модальное окно Пополнить баланс -->
    </div>
    <div class="container content mt-3">
        <!--Строка с фильтрами -->
        <div class="row">
            <form action="/transactions" method="POST">
                <div class="btn-group btn-group-sm" role="group" aria-label="Vertical radio toggle button group">
                    <input type="radio" onchange='this.form.submit();' class="btn-check" name="filter" value="new" id="vbtn-radio-new" autocomplete="off"{{ filterNew }}>
                    <label class="btn btn-outline-secondary" for="vbtn-radio-new">Сначала новые</label>
                    <input type="radio" onchange='this.form.submit();' class="btn-check" name="filter" value="old" id="vbtn-radio-old" autocomplete="off"{{ filterOld }}>
                    <label class="btn btn-outline-secondary" for="vbtn-radio-old">Сначала старые</label>
                    <input type="radio" onchange='this.form.submit();' class="btn-check" name="filter-new" id="vbtn-radio3" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="vbtn-radio3">За период</label>

                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            По услуге
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

        <div class="row row-cols-1 row-cols-md-2">
            {% for transaction in transactions %}
                <div class="col mt-3">
                {% if transaction.type.id == 1 %}
                        <div class="card h-100 border-success " >
                            <div class="card-header"><h5>{{ transaction.type }}</h5></div>
                            <div class="card-body text-success">
                                <h5 class="card-title">+{{ transaction.sum }}₽</h5>
                                <p class="card-text">
                                    Баланс: {{ transaction.resultBalance }}₽
                                    <br>
                                    Дата: {{ transaction.datetime|date('Y-m-d') }}
                                    <br>
                                    Время: {{ transaction.datetime|date('H:i') }}
                                    <br>
                                </p>
            {#                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
                            </div>
                        </div>
                    {% elseif transaction.type.id == 2 %}
                        <div class="card h-100 border-secondary " >
                            <div class="card-header"><h5>{{ transaction.type }}</h5></div>
                            <div class="card-body text-secondary">
                                <h5 class="card-title">{{ transaction.service.name }}</h5>
                                <p class="card-text">
                                    Количество: {{ transaction.quantity }}
                                    <br>
                                    {{ transaction.service.unit }}: {{ transaction.service.price }}₽
                                    <br>
                                    Баланс: {{ transaction.resultBalance }}₽
                                    <br>
                                    Дата: {{ transaction.datetime|date('Y-m-d') }}
                                    <br>
                                    Время: {{ transaction.datetime|date('H:i') }}
                                    <br>
                                    <h5>-{{ transaction.sum }}₽</h5>
                                </p>
                            </div>
                        </div>
                    {% elseif transaction.type.id == 3 %}
                        <div class="card h-100 border-success ">
                            <div class="card-header"><h5>{{ transaction.type }}</h5></div>
                            <div class="card-body text-success">
                                <h5 class="card-title">{{ transaction.service.name }}</h5>
                                <p class="card-text">
                                    Количество: {{ transaction.quantity }}
                                    <br>
                                    {{ transaction.service.unit }}: {{ transaction.service.price }}₽
                                    <br>
                                    Баланс: {{ transaction.resultBalance }}₽
                                    <br>
                                    Дата: {{ transaction.datetime|date('Y-m-d') }}
                                    <br>
                                    Время: {{ transaction.datetime|date('H:i') }}
                                    <br>
                                    <h5>+{{ transaction.sum }}₽</h5>
                                </p>
                            </div>
                        </div>
                {% endif %}
                </div>
            {% endfor %}
        </div>
        <hr>
{#        <h4>Итого: {{ sum }}</h4>#}
    </div>
{% endblock %}
