{% extends 'base.html.twig' %}


{% block body %}
    <style>
        .itemClass{
            text-decoration: none;
            color: #222222;
        }
        .itemClass:hover{
            text-decoration: none;
            color: #222222;
        }
    </style>
    <div class="example-wrapper">
        <div class="row">
            <div class="col">
                <h1 >{{ title }}</h1>
            </div>
            <div class="col col-lg-2 w-auto">
                <!-- Кнопка-триггер модального окна -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#topUpBalance">
                    Пополнить баланс
                </button>
            </div>
        </div>

        <!-- Начало Модальное окно Пополнить баланс -->
        <div class="modal fade" id="topUpBalance" tabindex="-1" aria-labelledby="topUpBalance" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    {{ form_start(topUpBalanceForm) }}
                    <div class="modal-header">
                        <h5 class="modal-title" id="addServiceLabel">Пополнение баланса</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_errors(topUpBalanceForm) }}
                        {{ form_row(topUpBalanceForm.value) }}
                    </div>
                    <div class="modal-footer">
                        {{ form_row(topUpBalanceForm.submit) }}

                    </div>
                    {{ form_end(topUpBalanceForm) }}
                </div>
            </div>
        </div>
        <!--Конец Модальное окно Пополнить баланс -->


        {% set sum = 0 %}
        {% for item in items %}
            <div class="col-md-12">
                <div class="card mb-12 shadow-sm">
                    <div class="card-body">
                        <h4>{{ item.servicesItem.title }}</h4>
                        <p class="card-text">{{ item.servicesItem.description }}</p>
                        <h5>{{ item.servicesItem.price }} руб</h5>
                        {% set sum = sum + item.servicesItem.price %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <hr>
        <h4>Итого: {{ sum }}</h4>
    </div>
{% endblock %}
