{% extends 'base.html.twig' %}


{% block body %}
    <style>
        .itemClass{
            text-decoration: none;
            color: #222222;
        }
        .itemClass:hover{
            text-decoration: none;
            color: #222222;
        }
    </style>
    <div class="example-wrapper">
        <div class="row">
            <div class="col">
                <h1 >{{ title }}</h1>
            </div>
            <div class="col col-lg-2 w-auto">
                <!-- Кнопка-триггер модального окна -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#topUpBalance">
                    Пополнить баланс
                </button>
            </div>
        </div>

        <!-- Начало Модальное окно Пополнить баланс -->
        <div class="modal fade" id="topUpBalance" tabindex="-1" aria-labelledby="topUpBalance" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    {{ form_start(topUpBalanceForm) }}
                    <div class="modal-header">
                        <h5 class="modal-title" id="addServiceLabel">Пополнение баланса</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_errors(topUpBalanceForm) }}
                        {{ form_row(topUpBalanceForm.value) }}
                    </div>
                    <div class="modal-footer">
                        {{ form_row(topUpBalanceForm.submit) }}

                    </div>
                    {{ form_end(topUpBalanceForm) }}
                </div>
            </div>
        </div>
        <!--Конец Модальное окно Пополнить баланс -->

        <div class="column">
            {% for transaction in transactions %}
                {% if transaction.type.id == 1 %}
                    <div class="card border-success mb-3" style="max-width: 18rem;">
        {#                <div class="card-header"><h4>{{ transaction.type }}</h4></div>#}
                        <div class="card-body text-success">
                            <h5 class="card-title">{{ transaction.type }} +{{ transaction.sum }}₽</h5>
        {#                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
                        </div>
                    </div>
                {% elseif transaction.type.id == 2 %}
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header"><h5>{{ transaction.type }}</h5></div>
                        <div class="card-body text-secondary">
                            <h5 class="card-title">{{ transaction.service.name }}</h5>
                            <p class="card-text">
                                Количество: {{ transaction.service.quantity }}
                                <br>
                                {{ transaction.service.unit }}: {{ transaction.service.price }}₽
                                <br>
                                <h5>-{{ transaction.sum }}₽</h5>
                            </p>
                        </div>
                    </div>

                {% elseif transaction.type.id == 3 %}
                    <div class="card border-danger mb-3" style="max-width: 18rem;">
                        <div class="card-header"><h5>{{ transaction.type }}</h5></div>
                        <div class="card-body text-danger">
                            <h5 class="card-title">{{ transaction.service.name }}</h5>
                            <p class="card-text">
                                Количество: {{ transaction.service.quantity }}
                                <br>
                                {{ transaction.service.unit }}: {{ transaction.service.price }}₽
                                <br>
                                <h5>+{{ transaction.sum }}₽</h5>
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <hr>
{#        <h4>Итого: {{ sum }}</h4>#}
    </div>
{% endblock %}
